.App {
  text-align: center;
  margin-bottom: 10px;
}

.section {
  margin: 0 10px;
}

.green-money {
  color:#43a047;
}

.bold {
  font-weight: bold;
}

a.selected {
  text-decoration: underline !important;
}

.begining {
  height: 480px;
  position: relative;

  h1.special {
    font-size: 5.8rem;
    line-height: 85%;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 22%;
    transform: rotate(353deg);
  }

  #flowers {
    width: 200px;
    position: absolute;
    top: -5px;
    left: -15px;
  }

  #us {
    width: 200px;
    position: absolute;
    right: -10px;
    bottom: 0;
    z-index: -1;
  }

  #greeting {
    position: absolute;
    right: 25px;
    top: 40px;
    margin: 0;
    text-align: end;
    max-width: 200px;

  }

  #invite {
    position: absolute;
    bottom: 11px;
    text-align: left;
    left: 15px;
    width: 40%;
  }
}

.parents {
  margin-bottom: 20px;

  .parents-two-cols {
    display: flex;
    justify-content: space-evenly;
    
    .special {
      font-size: 18px;
      margin: 0;
    }
  }

}

.date {
  border: 2px #c1d1e1 dashed;
  margin: 20px;
  padding: 10px 0;
  border-radius: 55px;
  margin-top: 0;

  h4 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  p {
    margin: 0;
    font-weight: bold;
  }

  svg {
    vertical-align: middle;

  }
}

.MuiPaper-root {
  margin: 10px 0;
}

.actions {
  margin-bottom: 10px;
  button {
    margin: 10px 5px;
  }
}

#party-number {
  display: flex;
  justify-content: center;
  font-weight: bold;

  .MuiAvatar-circular {
    margin: 0 5px;
    font-size: 1.2rem;
  }
}

.actions-response {

  .MuiChip-label {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', 'sans-serif';
  }

  .MuiChip-root .MuiAvatar-root {
    font-size: 1.2rem;
  }
}

.carousel-custom {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  min-width: 350px;
  
  .MuiPaper-root {
    margin: 0 5px;
    border-radius: 10px;
  }

  .MuiCardContent-root  {
    display: flex;
  }

  img {
    margin: 15px;
    border-radius: 10px;
  }

  .description {
    margin: auto;
  }
}

#gifts li {
  margin: 10px;
}